/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2023, 10:59:33 AM
    Author     : Admin
*/
.btn-myRecipes {
    align-items:
        center;
    background-color:
        #ebf7fc;
    display:
        flex;
    line-height:
        19.2px;
    padding:
        5px 20px 5px 12px;
    text-align:
        left;
    margin: 10px 0px;
    min-width: 60%;
}
.nav-link {
    color: #232d37;
    text-transform: uppercase;
    font-size: 14px;
}
.search-link {
    background-color:
        #ffffff;
    font-size:
        12px;
    letter-spacing:
        0.72px;
    line-height:
        14.4px;
    padding:
        10px 20px;
    text-transform:
        uppercase;
    border: solid 2px;
    color: #232d37;
}
